:root {
  --blue: #587B7F;
  --olive: #394032;
  --sage: #8DAB7F;
  --light: #CFEE9E;
  --dark: #1E2019;
}

/*Using the same font-family throughout the entire page, so it's included in the body*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  body{
    background-color: var(--blue);
    font-size: 24px;
  }

  .header{
    background-color: var(--olive);
    color: var(--sage);
  }

  .header h1{
    display: inline-block;
    font-size: 48px;
  }

  .header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
  }

  .header nav ul{
    list-style-type: none;
  }

  .header nav li{
    display: inline-block;
    padding: 0 0 30px 30px;
  }

  nav a:hover{
    color: var(--light);
  }

  a{
    text-decoration: none;
    color: var(--sage);
  }

  #about-me{
    background-color: var(--dark);
    margin: 2%;
    position: relative;
    border-radius: 50px;
    color:var(--sage);
    font-size: 80%;
    height: 100%;
    width: 30%;
    text-align: center;
    left: 33%;
  }

  #about-me h1{
    text-align: center;
    color:var(--sage);
    font-size: 30px;
  }

  #about-me img{
    display: block;
    width: 50%;
    margin: auto;
  }

  #about-me p{
    margin: 15px;
    padding: 15px;
  }
/* I've placed all 3 sections of my work into one section. It has an ID selector because that section only appears once */

  #works {
    background-color: var(--dark);
    color:var(--sage);
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2%;
    width: 80%;
    left: 10%;
    position: relative;
    border-radius: 50px;
    margin-bottom: 5%;
  }

  #horiseon{
    width: 33%;
    margin-left: -2.5%;
  }

  .works-section{
    display: block;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .works-section h4{
    display: block;
    margin: 1%;
    text-decoration: underline;
  }

  .works-project{
    display: flex;
    padding-left: 4%;
    text-align: left;
    position: relative;
  }

  .works-project-info{
    font-size: 85%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 35%;
    padding-top: 2%;
  }

  .works-project img{
    width: 25%;
    display: flex;
    flex-direction: column;
  }

  footer{
    background-color: var(--olive);
    color: var(--sage);
    height: 50px;
  }

  footer h2{
    display: inline-block;
    font-size: 80%;
    padding-top: 20px;
    margin-left: 20px;
  }

  footer nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 85%;
  }

  footer nav ul{
    list-style-type: none;
  }

  footer nav li{
    display: inline-block;
    padding-right: 20px;
  }


  @media screen and (max-width: 960px) {
    #works,
    .works-section {
      flex-direction: column;
    }
  }
  
  